.mat-button {
  border-radius: 25px;
  padding: 0.5em;
  color: #fff;
  background: linear-gradient(to right, #b7f8db, #50a7c2);
}

.mat-button.btn-secondary {
  background: transparent;
  color: #222;
  border: 2px solid #50a7c2;
}
