<footer>
  <p>Copyright &copy; Luiz Sandoval, {{currentYear}}.</p>
  <nav>
    <ul class="social-nav-ul">
      <li>
        <a class="unstyled-link" href="https://linkedin.com/in/luiz-sandoval-78395014b/" target="_blank">
          <span class="fab fa-linkedin fa-2x"></span>
        </a>
      </li>
      <li>
        <a class="unstyled-link" href="https://github.com/Lgustavo2016" target="_blank">
          <span class="fab fa-github fa-2x"></span>
        </a>
      </li>
    </ul>
  </nav>
</footer> 