form {
  display: flex;
  flex-direction: column;
  min-width: 350px;
}

.container {
  height: 100vh;
}
button[type='submit'] {
  background: #222;
  color: #fff;
}

button:disabled {
  background: lightgrey;
}
.form-wrapper {
  padding: 30px;
  background: #fff;
}
