section {
    display: flex;
    justify-content: center;

    img {
        filter: blur(5px);
        opacity: 0.5;
    }

    .welcome-message {
        align-self: center;
        color:#fff;
        font-size: 5em;
        width:100%;
        animation: appearsIn 0.3s top ease-in;
        text-align: center;
        background-color: rgba(222,222,222, 0.5);
        position: absolute;
    }

    @keyframes appearsIn {
        0% {
            opacity: 0;
        }
        25% {
            opacity: 0.25;
        }
        50%{
            opacity: 0.5;
        }
        100%{
            opacity: 1;
        }
    }
}